h2{
    color: #084981;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .scrollable-stepper {
    max-height: 100vh;
   /* overflow-y: auto;*/
    padding: 0px;
  }
