
.sidebar-menu a span {
    font-size: 14px; 
  }
  
 
  .sidebar-menu a span.active {
    font-size: 18px; 
  }
  #sidebar {
    overflow-y: auto;
    scrollbar-width: none; 
  }
  
  #sidebar::-webkit-scrollbar {
    display: none; 
  }