<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="editFormGroup" (ngSubmit)="handleUpdate()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur la classe
                <span>
                  <a href="javascript:;"><i class="feather-more-vertical"></i></a>
                </span>
              </h5>
            </div>

            <!-- Name Field -->
            <div class="text-center mt-3">
              <mat-form-field appearance="outline" class="w-50 mb-3">
              
                <mat-label>Nom</mat-label>
                <input matInput [formControl]="nameFormControl" />
              </mat-form-field>
            </div>

            <!-- Capacity Field -->
            <div class="text-center mt-3">
              <mat-form-field appearance="outline" class="w-50 mb-3">
              
                <mat-label>Capacité</mat-label>
                <input matInput [formControl]="capacityFormControl" />
              </mat-form-field>
            </div>

            <!-- Type Field -->
            <div class="text-center mt-3">
              <mat-form-field appearance="outline" class="w-50 mb-3">
              
                <mat-label>Type</mat-label>
                <mat-select [formControl]="typeFormControl">
                  <mat-option *ngFor="let type of typeList" [value]="type">
                    {{ type }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Submit Button -->
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Modifier</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
