.scrollable-stepper {
    max-height: 100vh; 
   /* overflow-y: auto;*/
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto; 
    padding: 20;
    margin: 20px;
    background-color: white;
    scrollbar-width: none;
    
  }
h2{
  color: #084981;
}
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}