<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="newFormGroup" (ngSubmit)="handleAdd()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur le module<span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>

            <div class="text-center mt-3">
              <mat-form-field appearance="outline" class="w-50 mb-3">
              
                  <mat-label>Nom</mat-label>
                  <input matInput [formControl]="nameFormControl" />
                </mat-form-field>
            
            </div>

            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
