<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <img class="img-fluid" src="/assets/img/hero-img.png" alt="Logo" />
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>Bienvenue à l'ENSA de Kénitra</h1>
            <p class="account-subtitle">
              Accédez à votre compte pour consulter les emplois du temps.
            </p>

            <div class="form-group">
              <button
                class="btn btn-primary btn-block"
                (click)="loginWithGoogle()"
              >
                Connexion avec Google
              </button>
            </div>

            <!-- Sign-Up Button  -->
            <div class="form-group">
              <button class="btn btn-secondary btn-block" (click)="signUp()">
                S'inscrire
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
