<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="editFormGroup" (ngSubmit)="handleUpdate()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur l'Admin
                <span>
                  <a href="javascript:;"><i class="feather-more-vertical"></i></a>
                </span>
              </h5>
            </div>

            <!-- Name Field -->
            <div class="text-center mt-3">
              <mat-form-field appearance="outline" class="w-50 mb-3">
                <mat-label>Nom</mat-label>
                <input matInput [formControl]="nameFormControl" />
              </mat-form-field>
            </div>

            <!-- Email Field -->
            <div class="text-center mt-3">
              <mat-form-field appearance="outline" class="w-50 mb-3">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="emailFormControl"
                  [errorStateMatcher]="matcher"
                  placeholder="Ex. pat@uit.ac.ma"
                />
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Submit Button -->
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Modifier</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
